<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>

	<nav class="navbar navbar-expand navbar-light bg-light">
		<div class="container-fluid">
			Personal Trainer
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav nav-pills">
					<li class="nav-item"><a class="nav-link" aria-current="page"
						href="#">Dashboard</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
					<li class="nav-item"><a class="nav-link active" href="/logout">Sair</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<h2 class="text-center">
		Bem vindo <span class="text-primary" th:text="${nome}" /> <span
			class="text-primary" th:text="${sobrenome}" /> a sua Plataforma de
		Personal Trainer Independente!
	</h2>
</body>
</html>